%h2="#{@request.first_name.capitalize}, добрый день!"

%p Ваша заявка одобрена нашим модератором.

%p Ждём вас на нашем мероприятии.

%p="#{@event.date}, с #{@event.start_time} до #{@event.end_time}, #{@event.place}."